{% extends'MoviesBundle::base.html.twig' %}

{% block title %}{{ movies.title }} | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Bienvenue sur Movies</h1>
        <img src="{{ asset('media/'~movies.imdbId~'.jpg') }}" alt="{{ movies.title }}" ><br>
        {{ movies.title }}<br>
        {{ movies.year }}<br>
        {{ movies.cast }}<br>
        {{ movies.plot }}<br>
        {{ movies.votes }}<br>
        {{ movies.trailerId }}<br>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ movies.trailerId }}" frameborder="0" allowfullscreen>

    </iframe><br>
{% endblock %}
