{% extends'MoviesBundle::base.html.twig' %}

{% block title %}{{ movie.title }} | {{ parent() }}{% endblock %}

{% block content %}
    <h3>Modification du film</h3>
    <div id="imageTitre">
    <img src="{{ asset('media/'~movie.imdbId~'.jpg') }}" alt="{{ movie.title }}" style="width: 30%;">
    </div>
    <div id="formTitre">
    {{ form(form, {'attr':{'novalidate':'novalidate'}}) }}
    </div>
{% endblock %}
