{% extends'MoviesBundle::base.html.twig' %}

{% block script %}
    <script src="{{ asset('js/app.js')}}">

    </script>
{% endblock %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block content %}
    <h1>Bienvenue sur Movies</h1>
    {% for movie in movies %}
        <a href="{{ path('detailMovies',{'id': movie.id }) }}">
            <img src="media/{{ movie.imdbId }}.jpg" alt="{{ movie.title }}" style="width:304px;height:228px;">
        </a>
    {% endfor %}
{% endblock %}
