{% extends'MoviesBundle::base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block content %}
{% for movie in movies %}
        <a href="{{ path('detailMovies',{'id': movie.id }) }}">
            <img src="{{ asset('media/'~movie.imdbId~'.jpg') }}" alt="{{ movie.title }}" style="width: 15%;">
        </a>
    {% endfor %}
    <nav aria-label="navigation">
        <ul class="pager">
        {% if pagePrecedent < 1  %}
                <li></li>
                {% for page2 in page..(page + 5) %}
                    {% if page2|lower is sameas (page|lower) %}
                        <a href="{{ path('movies_homepage', {'page': page2 }) }}" id="pageColor">{{ page2 }}</a>
                    {% else %}
                        <a href="{{ path('movies_homepage', {'page': page2 }) }}" >{{ page2 }}</a>
                    {% endif %}
                {% endfor %}...
                <li class="next"><a href="{{ path('movies_homepage', {'page': pageSuivante }) }}" title="Suivant">Suivant</a></li>
        {% elseif pageSuivante >= total+1  %}
                <li class="previous"><a href="{{ path('movies_homepage', {'page': pagePrecedent }) }}" title="Précédent">Précédent</a></li>
                ...
                {% for page2 in (page - 4)..(total) %}
                    {% if page2|lower is sameas (page|lower) %}
                        <a href="{{ path('movies_homepage', {'page': page2 }) }}" id="pageColor">{{ page2 }}</a>
                    {% else %}
                        <a href="{{ path('movies_homepage', {'page': page2 }) }}" >{{ page2 }}</a>
                    {% endif %}
                {% endfor %}
                <li></li>
        {% else %}
                <li class="previous"><a href="{{ path('movies_homepage', {'page': pagePrecedent }) }}" title="Précédent">Précédent</a></li>
                ...
                {% for page2 in (page-1)..(page + 5) %}
                    {% if page2|lower is sameas (page|lower) %}
                        <a href="{{ path('movies_homepage', {'page': page2 }) }}" id="pageColor">{{ page2 }}</a>
                    {% else %}
                        <a href="{{ path('movies_homepage', {'page': page2 }) }}" >{{ page2 }}</a>
                    {% endif %}
                {% endfor %}...
                <li class="next"><a href="{{ path('movies_homepage', {'page': pageSuivante }) }}" title="Suivant">Suivant</a></li>
        {% endif %}
        </ul>
    </nav>
{% endblock %}
